* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --blue1: #1F3F68;
    --blue2: #316099;
    --blue3: #356EAD;
    --blue4: #5A98D0;
    --blue5: #98C3E8;
}

.nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 60px;
    background-color: #ffffff;
    &__logo,
    &__burger {
        cursor: pointer;
    }
}

.title {
    display: flex;
    background: url(../img/blogpagehead.svg);
    background-size: cover;
    margin-top: 5rem;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    .title__blog {
        width: 50%;
        text-align: center;
        h1 {
            margin-bottom: 1.2rem;
            font-family: 'Gilroy';
            font-size: 44px;
            line-height: 74px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }
        p {
            font-family: 'Gilroy';
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.04em;
            color: rgba(255, 255, 255, 0.4);
        }
    }
}

main {
    width: 70%;
    margin: 0 auto;
}

.search {
    width: 100%;
    background: #F4F4F4;
    border-radius: 10px;
    display: flex;
    border: 1px solid #ccc;
    font-size: 20px;
    border: none;
    height: 36px;
    padding-left: 30px;
    align-items: center;
    margin-bottom: 5rem;
}

[type='search'] {
    border: none;
    outline: none;
    width: 100%;
    background: #F4F4F4;
    border-radius: 10px;
    height: 30px;
    padding-left: 20px;
}

.fas.fa-search {
    color: #ccc;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.popular-h2 {
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: var(--blue3);
    opacity: 0.8;
    margin-bottom: 35px;
}

.popular {
    .article {
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;
        .articles {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 15px;
            h2 {
                font-family: 'Galien';
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 0.04em;
                color: var(--blue1);
            }
            p {
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.04em;
                color: #000000;
                opacity: 0.6;
            }
            .down {
                display: flex;
                align-items: center;
                .articles__data {
                    margin-right: 6rem;
                }
            }
            .articles__social img {
                padding-right: 30px;
                cursor: pointer;
            }
        }
    }
    .min-article {
        display: flex;
        margin: 0 -20px;
        margin-bottom: 50px;
        .articles {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 20px;
            h2 {
                font-family: 'Galien';
                font-size: 28px;
                line-height: 38px;
                color: var(--blue1);
                margin-top: 16px;
                margin-bottom: 20px;
            }
            p {
                font-family: 'Gilroy';
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 0.04em;
                color: #000000;
                opacity: 0.6;
                margin-bottom: 20px;
            }
            .down {
                display: flex;
                align-items: center;
                .articles__data {
                    margin-right: 4rem;
                }
            }
            .articles__social {
                display: flex;
                img {
                    padding-right: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}

.all {
    text-align: end;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 25px;
    a {
        color: var(--blue3);
    }
    a:hover {
        border-bottom: 1px solid var(--blue3);
    }
}

hr {
    margin-bottom: 50px;
    border: .1px solid rgba(0, 0, 0, 0.2);
}

.all-article {
    margin: -30px 0;
}

.all__article-articles {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    .articles {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 20px;
        h2 {
            font-family: 'Galien';
            font-size: 22px;
            line-height: 38px;
            letter-spacing: 0.04em;
            color: var(--blue1);
        }
        p {
            font-family: 'Gilroy';
            font-size: 13px;
            line-height: 26px;
            letter-spacing: 0.04em;
            color: #000000;
            opacity: 0.6;
            margin-bottom: 20px;
        }
        .down {
            display: flex;
            align-items: center;
            .articles__data {
                margin-right: 7rem;
            }
        }
        .articles__social {
            display: flex;
            img {
                padding-right: 15px;
                cursor: pointer;
            }
        }
    }
}

.next-prew {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    .next,
    .prew {
        display: flex;
        cursor: pointer;
        margin-bottom: 20px;
        align-items: center;
        flex-direction: row;
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: var(--blue3);
    }
}

.prew img {
    margin-right: 10px;
}

.next img {
    margin-left: 10px;
}

.prew p:hover {
    border-bottom: 1px solid;
}

.next>p:hover {
    border-bottom: 1px solid;
}

@media screen and (max-width: 1001px) {
    .article {
        flex-direction: column;
    }
    .popular .article .articles {
        width: 100%;
        h2 {
            font-size: 35px;
        }
        p {
            margin-bottom: 20px;
        }
        .down {
            justify-content: space-between;
        }
    }
    footer {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 750px) {
    .min-article {
        flex-direction: column;
    }
    .popular .min-article .articles {
        width: 100%;
    }
    .all__article-articles {
        flex-direction: column;
    }
    .all__article-articles .articles {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .title .title__blog {
        width: 90%;
    }
    .title .title__blog p {
        font-size: 16px;
        line-height: 25px;
    }
}

// -------------------------footer-------------------
footer {
    width: 95%;
    height: 120vh;
    background-color: var(--blue2);
    border-radius: 0px 200px 0px 0px;
    z-index: 2;
    // margin-top: -120vh;
    .footer__talk {
        width: 70%;
        margin: 0 auto;
        margin-top: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__talk-h2 {
            width: 460px;
        }
        &-h2 h2 {
            font-family: 'Gilroy';
            font-size: 34px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        &-h2 p {
            font-family: 'Gilroy';
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            opacity: 0.6;
        }
        .floating-button {
            text-decoration: none;
            display: inline-block;
            width: 210px;
            height: 55px;
            line-height: 45px;
            border-radius: 10px;
            margin: 10px 20px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 3px;
            font-weight: 600;
            color: white;
            background: #5A98D0;
            box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
            transition: .3s;
            cursor: pointer;
            border: none;
            font-weight: 400;
        }
        .floating-button:hover {
            background: #2EE59D;
            box-shadow: 0 15px 20px rgba(46, 229, 157, .7);
            color: white;
            transform: translateY(-7px);
        }
    }
}

.about__us {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-around;
    &-h4 h4 {
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}

.about__us-link {
    display: flex;
    flex-direction: column;
    width: 165px;
    a {
        margin-bottom: 10px;
        text-decoration: none;
        font-family: 'Gilroy';
        font-size: 13px;
        line-height: 26px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }
    a:hover {
        text-transform: uppercase;
    }
}

.footer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    .afrianska {
        margin-right: 50px;
        .afrianska__logo {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            img {
                margin-right: 25px;
            }
            p {
                margin-right: 15px;
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            a {
                text-decoration: none;
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            a:hover {
                border-bottom: 1px solid;
            }
            h2 {
                font-family: 'Gilroy';
                font-size: 30px;
                line-height: 46px;
                letter-spacing: 1.2px;
                color: #FFFFFF;
            }
        }
    }
}

.reserved {
    width: 70%;
    margin: auto;
    margin-top: 65px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media screen and (max-width: 1150px) {
    .our-client .mask>.our-project {
        margin-bottom: 70px;
    }
    .mask__logo .mask__logo-grid {
        display: flex;
        flex-direction: column;
        p {
            padding: 1px;
            border-bottom: none;
        }
        p:nth-last-child(1) {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1001px) {
    .our-client__wrap {
        width: 90%;
    }
    footer .footer__talk {
        flex-direction: column;
    }
    footer .footer__talk .footer__talk-h2 {
        width: 90%;
        margin-bottom: 50px;
    }
    hr {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .footer {
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .about__us {
        display: flex;
        margin: 21px auto;
        width: 70%;
        justify-content: space-between;
    }
    .reserved {
        margin-top: 0;
    }
    .our-client {
        height: 250vh;
    }
    footer {
        height: 150vh;
        margin-top: -150vh;
        ;
    }
}

@media screen and (max-width: 650px) {
    .our-client h2 {
        font-size: 30px;
    }
    .our-client p {
        font-size: 15px;
    }
    footer .footer__talk {
        width: 100%;
    }
    .footer__talk-h2 {
        margin-bottom: 50px;
        width: 100%;
    }
    footer .footer__talk-h2 h2 {
        font-size: 30px;
    }
    footer .footer__talk-h2 p {
        font-size: 14px;
    }
    .footer .afrianska {
        width: 70%;
        margin: 0 auto;
    }
    .about__us {
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}