* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --blue1: #1F3F68;
    --blue2: #316099;
    --blue3: #356EAD;
    --blue4: #5A98D0;
    --blue5: #98C3E8;
}

.hero {
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    .nav {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 75px;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 60px;
        &__logo,
        &__burger {
            cursor: pointer;
        }
    }
    &__about {
        display: flex;
        height: 100vh;
        align-items: center;
        &-h1 {
            width: 38%;
            margin-left: 200px;
            margin-top: 50px;
            h1 {
                font-family: 'Galien';
                font-size: 60px;
                line-height: 74px;
                letter-spacing: 0.04em;
                color: var(--blue1);
                margin-bottom: 33px;
            }
            p {
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: var(--blue1);
                opacity: 0.6;
                margin-bottom: 70px;
            }
            .floating-button {
                text-decoration: none;
                display: inline-block;
                width: 220px;
                height: 55px;
                line-height: 45px;
                border-radius: 10px;
                margin: 10px 20px;
                font-size: 14px;
                text-align: center;
                letter-spacing: 3px;
                font-weight: 600;
                color: white;
                background: #5A98D0;
                box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
                transition: .3s;
                cursor: pointer;
                border: none;
                font-weight: 400;
            }
            .floating-button:hover {
                background: #2EE59D;
                box-shadow: 0 15px 20px rgba(46, 229, 157, .7);
                color: white;
                transform: translateY(-7px);
            }
        }
        img {
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 1320px) {
    .hero__about-h1 h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .hero__about-h1 p {
        margin-bottom: 20px;
        font-size: 20px;
        color: black;
        font-weight: 400;
    }
}

@media screen and (max-width: 810px) {
    .hero__about img {
        position: absolute;
        z-index: 1;
        opacity: .2;
        width: 100%;
        height: 500px;
    }
    .hero__about-h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0 30px;
    }
    .hero__about-h1 p {
        font-size: 20px;
        text-align: justify;
        color: #000000;
        opacity: 1;
    }
}

@media screen and (max-width: 530px) {
    .hero__about-h1 h1 {
        font-size: 34px;
        line-height: 50px;
        margin-bottom: 20px;
        opacity: 1;
    }
    .hero__about-h1 p {
        font-size: 16px;
        color: black;
        font-weight: 400;
        opacity: 1;
    }
}

main {
    width: 70%;
    margin: 0 auto;
}

.what__title {
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: var(--blue1);
    position: absolute;
    left: 21%;
    margin-top: 15px;
}

.flex {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    z-index: 9999;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 380px;
    height: 530px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-right: 100px;
    align-items: center;
    >img {
        width: 271px;
        height: 178px;
        margin-bottom: 60px;
    }
    &__text {
        margin: 0 48px;
        .item__h3 {
            font-family: 'Gilroy';
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: var(--blue1);
            margin-bottom: 16px;
        }
        .item__about-item {
            font-family: 'Gilroy';
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: var(--blue1);
            opacity: 0.6;
            margin-bottom: 32px;
        }
        .item__more a {
            display: flex;
            font-family: 'Gilroy';
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: var(--blue4);
            text-decoration: none;
            padding-right: 30px;
            >img {
                padding-left: 30px;
            }
        }
        .item__more a:hover {
            text-transform: uppercase;
        }
    }
}

.item2 .item {
    margin-bottom: 100px;
}

.our-project {
    display: flex;
    >h2 {
        font-family: 'Gilroy';
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: var(--blue1);
        width: 350px;
    }
    >p {
        font-family: 'Gilroy';
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: var(--blue1);
        opacity: 0.6;
        width: 450px;
        text-align: justify;
        margin-left: 4rem;
    }
}

.mask__img {
    background-image: url(../img/alberto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 90px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    z-index: 2;
    overflow-y: hidden;
    img {
        opacity: 1;
        z-index: 1;
        width: 100%;
        height: auto;
        float: left;
    }
    h2 {
        position: absolute;
        right: 17%;
        z-index: 3;
        margin-top: 50px;
        font-family: 'Gilroy';
        font-size: 30px;
        line-height: 46px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        font-weight: 300;
    }
    p {
        font-family: 'Gilroy';
        font-size: 18px;
        line-height: 46px;
        letter-spacing: 0.07em;
        color: #FFFFFF;
        opacity: 0.7;
        position: absolute;
        right: 17%;
        z-index: 3;
        margin-top: 100px;
        font-weight: 100;
    }
}

.mask__group {
    display: flex;
    justify-content: space-between;
    .mask__card {
        border-radius: 10px;
        width: 422px;
        background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
        border-radius: 10px;
        margin-bottom: 150px;
        img {
            opacity: .5;
            float: left;
            background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
        }
        h2 {
            position: absolute;
            font-family: 'Gilroy';
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-top: 25px;
            margin-left: 30px;
        }
        p {
            position: absolute;
            font-family: 'Gilroy';
            font-size: 16px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            opacity: 0.8;
            margin-top: 70px;
            margin-left: 30px;
            font-weight: 100;
        }
    }
}

@media screen and (max-width: 1320px) {
    main {
        width: 100%;
        margin: 0 auto;
    }
    .our-project {
        text-align: center;
    }
    .mask__img h2,
    .mask__img p {
        right: 5%;
    }
    .mask__group {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1001px) {
    .what__title {
        position: static;
        text-align: center;
        margin-bottom: 2rem;
        margin: 2rem 3rem;
    }
    br {
        display: none;
    }
    .item {
        margin-right: 20px;
    }
}

@media screen and (max-width: 810px) {
    .our-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-bottom: 2rem;
        }
    }
    .our-project>p {
        margin: 0;
    }
    .mask__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .mask__group .mask__card {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 530px) {
    .what__title {
        margin-top: -10px;
        font-size: 34px;
    }
    .our-project>p {
        width: 335px;
    }
    .mask__img h2 {
        margin-top: 20px;
        font-size: 18px;
    }
    .mask__img p {
        margin-top: 40px;
        font-size: 14px;
    }
    .mask__img {
        margin-top: 40px;
        margin-bottom: 65px;
    }
    .mask__group .mask__card h2 {
        margin-top: 7rem;
        margin-left: 6rem;
        font-size: 30px;
    }
    .mask__group .mask__card p {
        margin-top: 10rem;
        margin-left: 6rem;
        font-size: 30px;
    }
}

.our-client {
    width: 100%;
    height: 220vh;
    background-color: var(--blue4);
    border-radius: 200px 0px 0px 0px;
    >.our-client__wrap {
        width: 70%;
        margin: 0 auto;
        margin-top: 95px;
    }
    .mask>.our-project {
        margin-bottom: 110px;
    }
    h2 {
        font-family: 'Gilroy';
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    p {
        font-family: 'Gilroy';
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
    }
}

.mask__logo {
    width: 100%;
    height: 260px;
    margin-bottom: 125px;
    z-index: 1;
    .mask__logo-grid {
        color: #000000;
        height: 260px;
        display: grid;
        // align-items: center;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
        cursor: pointer;
    }
    p {
        padding-top: 50px;
    }
}

.mask__logo-grid>p:nth-child(-n+3) {
    border-right: 1px solid;
}

.mask__logo-grid>p:nth-child(-n+4) {
    border-bottom: 1px solid;
}

.mask__logo-grid>p:nth-last-child(-n+3) {
    border-left: 1px solid;
}

.mask__logo-grid>p:nth-last-child(1) {
    background: var(--blue1);
    cursor: pointer;
}

footer {
    width: 95%;
    height: 120vh;
    background-color: var(--blue2);
    border-radius: 0px 200px 0px 0px;
    z-index: 2;
    margin-top: -120vh;
    .footer__talk {
        width: 70%;
        margin: 0 auto;
        margin-top: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__talk-h2 {
            width: 460px;
        }
        &-h2 h2 {
            font-family: 'Gilroy';
            font-size: 34px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        &-h2 p {
            font-family: 'Gilroy';
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            opacity: 0.6;
        }
        .floating-button {
            text-decoration: none;
            display: inline-block;
            width: 210px;
            height: 55px;
            line-height: 45px;
            border-radius: 10px;
            margin: 10px 20px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 3px;
            font-weight: 600;
            color: white;
            background: #5A98D0;
            box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
            transition: .3s;
            cursor: pointer;
            border: none;
            font-weight: 400;
        }
        .floating-button:hover {
            background: #2EE59D;
            box-shadow: 0 15px 20px rgba(46, 229, 157, .7);
            color: white;
            transform: translateY(-7px);
        }
    }
}

.about__us {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-around;
    &-h4 h4 {
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}

.about__us-link {
    display: flex;
    flex-direction: column;
    width: 165px;
    a {
        margin-bottom: 10px;
        text-decoration: none;
        font-family: 'Gilroy';
        font-size: 13px;
        line-height: 26px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }
    a:hover {
        text-transform: uppercase;
    }
}

.footer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    .afrianska {
        margin-right: 50px;
        .afrianska__logo {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            img {
                margin-right: 25px;
            }
            p {
                margin-right: 15px;
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            a {
                text-decoration: none;
                font-family: 'Gilroy';
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            a:hover {
                border-bottom: 1px solid;
            }
            h2 {
                font-family: 'Gilroy';
                font-size: 30px;
                line-height: 46px;
                letter-spacing: 1.2px;
                color: #FFFFFF;
            }
        }
    }
}

.reserved {
    width: 70%;
    margin: auto;
    margin-top: 65px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media screen and (max-width: 1150px) {
    .our-client .mask>.our-project {
        margin-bottom: 70px;
    }
    .mask__logo .mask__logo-grid {
        display: flex;
        flex-direction: column;
        p {
            padding: 1px;
            border-bottom: none;
        }
        p:nth-last-child(1) {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1001px) {
    .our-client__wrap {
        width: 90%;
    }
    footer .footer__talk {
        flex-direction: column;
    }
    footer .footer__talk .footer__talk-h2 {
        width: 90%;
        margin-bottom: 50px;
    }
    hr {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .footer {
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .about__us {
        display: flex;
        margin: 21px auto;
        width: 70%;
        justify-content: space-between;
    }
    .reserved {
        margin-top: 0;
    }
    .our-client {
        height: 250vh;
    }
    footer {
        height: 150vh;
        margin-top: -150vh;
        ;
    }
}

@media screen and (max-width: 650px) {
    .our-client h2 {
        font-size: 30px;
    }
    .our-client p {
        font-size: 15px;
    }
    footer .footer__talk {
        width: 100%;
    }
    .footer__talk-h2 {
        margin-bottom: 50px;
        width: 100%;
    }
    footer .footer__talk-h2 h2 {
        font-size: 30px;
    }
    footer .footer__talk-h2 p {
        font-size: 14px;
    }
    .footer .afrianska {
        width: 70%;
        margin: 0 auto;
    }
    .about__us {
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}